@import "../../../App.css";

.contenedor {
    max-width: 400px;
    margin: 40px auto;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tituloIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tituloIntro h1 {
    margin-bottom: 8px;
}

.contenedor p {
    margin: 4px 0;
    font-size: 14px;
    text-align: left;
}

.contenedor a {
    color: #007bff;
    text-decoration: none;
}

.botonGoogle {
    margin: 16px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}

.logoGoogle {
    width: 20px;
    height: 20px;
}

.divisor {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 20px 0;
}

.divisor hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.divisor p {
    margin: 0;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.parteInputIcono {
    display: flex;
    align-items: center;
    position: relative;
}

.iconoInput {
    position: absolute;
    top: 11px;
    right: 10px;
    width: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
}
