@import "../../../index.css";

.barraNavegacion a {
    all: unset;
    cursor: pointer;
}

.imgLogo {
    width: 100px;
}

.barraNavegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barraNavegacion p{
    font-size: 15px;
}

.botonNavegacion {
    margin: 0 10px;
}

.botonNavegacion:hover {
    color: red;
}

.botonIniciarSesionLog {
    display: flex;
    align-items: center;
}

.botonIniciarSesionLog p{
    margin-right: 10px;
}

.iconoSesion {
    width: 30px;
}