@import "../../../index.css";

a {
    all: unset;
    cursor: pointer;
}

p{
    font-size: 25px;
}



.imgLogo {
    width: 200px;
}

.barraNavegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barraNavegacion p{
    font-size: 25px;
}

.botonNavegacion {
    margin: 0 10px;
}

.botonNavegacion:hover {
    color: red;
}

.botonIniciarSesionLog {
    display: flex;
    align-items: center;
}

.botonIniciarSesionLog p{
    margin-right: 10px;
}

.iconoSesion {
    width: 30px;
}