@import "../../../../App.css";

/* FormularioFut.module.css */
.pageContainer {
    display: flex;
    font-family: Arial, sans-serif;
}

.mainContent {
    flex: 1;
    padding: 40px;
}

.tabSelector {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.activeTab {
    color: black;
    cursor: default;
    border-bottom: 2px solid black;
}

.inactiveTab {
    color: gray;
    cursor: pointer;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.previewBox {
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, transparent 49%, #ccc 50%, transparent 51%),
        linear-gradient(to top right, transparent 49%, #ccc 50%, transparent 51%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registrarBtn {
    align-self: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #999;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}